.switchContainer {
  display: -ms-grid;
  display: grid;
  margin: 0 0;
  -ms-grid-columns: (0.75fr)[3];
      grid-template-columns: repeat(3, 0.75fr);
  -ms-grid-rows: (5px)[auto];
      grid-template-rows: repeat(auto, 5px);
  border: 0.5px solid gray;
  padding: 10px !important;
  cursor: pointer;
}

@media only screen and (min-width: 620px) {
  .switchContainer {
    border: none;
  }
}

.switchContainer .categoryBox {
  padding: 4px;
  text-align: center;
  color: #647196;
}

.switchContainer .categoryBox h3 {
  font-size: 18px;
}

.switchContainer .categoryBox div {
  visibility: hidden;
}

.switchContainer .categoryBox:hover {
  color: #3A4374;
}

.switchContainer .categoryBox:hover div {
  visibility: visible;
}
