.contentContainer {
  width: 310px;
  margin: 1.65em auto;
}

.contentContainer p:first-child {
  margin-bottom: 65px;
}

@media only screen and (min-width: 462px) {
  .contentContainer {
    width: 450px;
  }
}

.contentContainer .formContainer {
  background-color: white;
  padding: 2em 1em;
  position: relative;
}

.contentContainer .formContainer form .formButtonRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 2em;
}

.contentContainer .formContainer form .formButtonRow button:nth-child(2) {
  margin-left: 1.3em;
}
