.roadmapContainer {
  margin: 0em auto;
}

.roadmapContainer .menuHeadingElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roadmapContainer .menuHeadingElements .menuHeading {
  font-weight: bold;
}

.roadmapContainer .gridContainer {
  display: -ms-grid;
  display: grid;
  margin: 0 1.2em;
  -ms-grid-columns: (1fr)[auto];
      grid-template-columns: repeat(auto, 1fr);
  -ms-grid-rows: (20px)[auto];
      grid-template-rows: repeat(auto, 20px);
}

@media only screen and (min-width: 620px) {
  .roadmapContainer .gridContainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (20px)[auto];
        grid-template-rows: repeat(auto, 20px);
  }
}

.roadmapContainer .gridContainer > * {
  padding: 0em;
}
