.sidebarGradient {
  background: url("../../../../assets/background-header.png") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 1em 1.5em 0.5em;
  font-size: 2em;
  border-radius: var(--box-radius);
  font-size: 1.2em;
}

@media only screen and (max-width: 619px) {
  .sidebarGradient p {
    margin: 0px;
  }
}

.sidebarGradient svg {
  cursor: pointer;
}

@media only screen and (min-width: 620px) {
  .sidebarGradient svg {
    display: none;
  }
}

@media only screen and (max-width: 619px) {
  .sidebarGradient {
    border-radius: initial;
    padding: 0.3em 1.5em 0.4em 1.5em;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 620px) {
  .sidebarGradient {
    min-width: 180px;
    width: 30%;
    margin: 1em 0em;
  }
}

@media only screen and (min-width: 768px) {
  .sidebarGradient {
    margin: 0.8em 1.2em 0em auto;
  }
}
