@import "../../../../constants/_variables.scss";

  
     .firstItem{
        
        .symbol{
            display:none;
        }
        
        .amountOfSuggestions{
            display:none;
            margin: 0em 4em 0em 0.8em;
            font-weight: bold;

            .amountOfSuggestions_text {
                margin: 0em 0em 0em 0.5em;
            }
        }

        @media only screen and (max-width: $mq-phone-max) {
            flex-direction: row;
            align-items: flex-start;
         }

    }

        .sortingCategory{
            margin: 0em 1.4em 0em 0em;
            cursor: pointer;
           .sortBy{
               margin-right: 0.65em;
           } 
        }
    

