.firstSection{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.3em 0.5em 1.5em;
    color:white;
    background-color:#3A4374;
    border-radius: 13px;

    div{
        display: flex;
        align-items: center;
     
        .symbol{
        }
        .amountOfSuggestions{
            margin: 0em 4em 0em 0.8em;
            font-weight: bold;

            .amountOfSuggestions_text {
                margin: 0em 0em 0em 0.5em;
            }
        }

        .sortingCategory{
            margin: 0em 1em 0em 0em;
        }
    }
}