@import "../../constants/variables";


.roadmapContainer{

margin: 0em auto;

    .menuHeadingElements{
        display: flex;
        flex-direction: column;

        .menuHeading{
            font-weight: bold;
        }
    }

    .gridContainer{
        display: grid;
        margin:0 1.2em;
        grid-template-columns: repeat(auto,1fr);
        grid-template-rows: repeat(auto,20px);   
    

        // Fall für 3 geteilte Spalte
        // größerer Viewport
        
       
        @media only screen and (min-width: $mq-tablet-min) {
               grid-template-columns: repeat(3,1fr);
               grid-template-rows: repeat(auto,20px);
        }
    
        & > *{
            padding: 0em;
        }

    }

   
}