.roadmapContainer{
width:1200px;
margin: 0em auto;
border:2px solid black;

    .menuHeadingElements{
        display: flex;
        flex-direction: column;

        .menuHeading{
            font-weight: bold;
        }
    }

    .gridContainer{
        display: grid;
        margin:0 1.2em;
        grid-template-columns: repeat(auto,1fr);
        grid-template-rows: repeat(auto,20px);   


        // Fall für 3 geteilte Spalte
        // größerer Viewport
        
        // grid-template-columns: repeat(3,1fr);
        // grid-template-rows: repeat(auto,20px);
    
        & > *{
            border:2px solid black;
            padding: 2em;
        }

    }

}