.suggestionsContainer {
    
    display:flex;
    justify-content: space-between;
    border:2px solid black;
    margin:0px auto;
    width: 95%;
    margin:0 auto;

    .suggestionsContainer__sidebar {
        border:2px solid red;
    }

    .suggestionsContainer__main {
        border:2px solid green;
        padding: 0em 12em 0 8em;
    }

}