.suggestionsContainer {
    
    display:flex;
    // border:2px solid black;
    margin:0px auto;
    width: 95%;
    margin:0 auto;
    position: relative;

    .suggestionsContainer__sidebar {
        
    }

    .suggestionsContainer__main {
        padding: 0em 12em 0em 8em;
        margin-left: 17em;
    }

}