.buttonStyle {
        color:white;
        background: #ad1fea;
        cursor:pointer;
        padding: 0.7em 2em;
        border-radius: var(--box-radius);

        &:hover{
            background: #c75af6
        }
}