.colorStripe_live {
    height: 5px;
    background-color:#62BCFA;
}

.colorStripe_planned {
    height:5px;
    background-color:#F49F85;
}

.colorStripe_inProgress {
    height:5px;
    background-color: #AD1FEA;
}