@import "../../../../constants/_variables";

.sidebarGradient {
    background: url("../../../../assets/background-header.png") no-repeat center center;
    background-size: cover;
    color:white;
    padding: 1em 1.5em 0.5em;
    font-size: 2em;
    border-radius: var(--box-radius);
    font-size: 1.2em;

    p{
        @media only screen and (max-width: $mq-phone-max) {
            margin:0px;
        }
    }

    svg{
        cursor:pointer;
        @media only screen and (min-width: $mq-tablet-min) {
           display: none;
        }
    }

    @media only screen and (max-width: $mq-phone-max) {
        border-radius: initial;
        padding: 0.3em 1.5em 0.4em 1.5em;
        margin:0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media only screen and (min-width: $mq-tablet-min) {
        @include sidebarBoxTablet;
    }

    @media only screen and (min-width: 768px) {
        @include sidebarBoxPC();
    }
}