

@mixin sidebarBoxTablet {
    min-width: 180px;
    width: 30%;
}

@mixin row {
    display: flex;
}

@mixin push2ndElementToSide {
    display:inline-block;
    margin-left: auto;
}

@mixin basicWhiteBoxStyles {
    background-color:var(--box-background); 
    border-radius: var(--box-radius);
    margin-top: 0.8em;
    padding: 1.5em;
    font-size: 1em;
}

@mixin individualBulletPoint($color) {
        content: "\2022";
        color: $color;
        font-weight: bold;
        width: 1em;
        margin-left: -1em;
}
 
.sidebarGradient {
    background: url("../../../../assets/background-header.png") no-repeat center center;
    background-size: cover;
    color:white;
    padding: 1em 1.5em 0.5em;
    font-size: 2em;
    border-radius: var(--box-radius);
    font-size: 1.2em;

    p{
        @media only screen and (max-width: 462px) {
            margin:0px 0px;
        }
    }

    @media only screen and (max-width: 462px) {
        border-radius: initial;
        padding: 0.3em 1.5em 0.4em 1.5em;
    }

    @media only screen and (min-width: 463px) {
        @include sidebarBoxTablet;
    }

    @media only screen and (min-width: 768px) {
        margin: 0.8em auto;
    }
}

.sidebarWhiteFirst {
    @include basicWhiteBoxStyles;

    @media only screen and (max-width: 462px) {
        display: none;
    }

    @media only screen and (min-width: 463px) {
        @include sidebarBoxTablet;
        margin: 1em auto;
    }

}

.sidebarWhiteSecond {
    @include basicWhiteBoxStyles;

        div {
            display:flex;
            justify-content: space-between;
            
            span {
             margin-left:1.5em;   
             font-weight: bold;
            }
            a {
                color:blue;
            }
        }

        ul {
            padding-left: 1.5em;
            li{

                &:nth-child(1){
                    @include row;
                    
                    &::before {
                        @include individualBulletPoint(#F49F85);
                    }

                   span{
                        &:nth-child(2){
                            @include push2ndElementToSide;
                        }
                   }
                }

                &:nth-child(2){
                    @include row;

                    &::before {
                        @include individualBulletPoint(#AD1FEA);
                    }
                 
                    span {
                        &:nth-child(2){
                            @include push2ndElementToSide;
                        }
                    }
                }

                &:nth-child(3){
                    @include row;

                    &::before {
                        @include individualBulletPoint(#4661E6);
                    }

                    span {
                        &:nth-child(2){
                            @include push2ndElementToSide;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 462px) {
            display: none;
        }

        @media only screen and (min-width: 463px) {
            @include sidebarBoxTablet;
        }

        @media only screen and (min-width: 768px) {
            margin: 0em auto;
        }
}