@mixin row {
    display: flex;
}

@mixin push2ndElementToSide {
    display:inline-block;
    margin-left: auto;
}

@mixin basicWhiteBoxStyles {
    background-color:var(--box-background); 
    border-radius: var(--box-radius);
    margin-top: 0.8em;
    padding: 1.5em;
    font-size: 1.5em;
}

@mixin individualBulletPoint($color) {
        content: "\2022";
        color: $color;
        font-weight: bold;
        width: 1em;
        margin-left: -1em;
}
 
.sidebarGradient {
    background: url("../../../../assets/background-header.png") no-repeat center center;
    background-size: cover;
    color:white;
    padding: 3em 1.5em 0.5em;
    font-size: 2em;
    border-radius: var(--box-radius);
}

// .user-background{
//     background: url("./images/all-bg-title.jpg") no-repeat center center;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -ms-background-size: cover;
//     -o-background-size: cover;
//      background-size: cover;
//   }


.sidebarWhiteFirst {
    @include basicWhiteBoxStyles;

}

.sidebarWhiteSecond {
    @include basicWhiteBoxStyles;

        div {
            display:flex;
            justify-content: space-between;
            
            span {
             margin-left:1.5em;   
             font-weight: bold;
            }
            a {
                color:blue;
            }
        }

        ul {
            padding-left: 1.5em;
            li{

                &:nth-child(1){
                    @include row;
                    
                    &::before {
                        @include individualBulletPoint(#F49F85);
                    }

                   span{
                        &:nth-child(2){
                            @include push2ndElementToSide;
                        }
                   }
                }

                &:nth-child(2){
                    @include row;

                    &::before {
                        @include individualBulletPoint(#AD1FEA);
                    }
                 
                    span {
                        &:nth-child(2){
                            @include push2ndElementToSide;
                        }
                    }
                }

                &:nth-child(3){
                    @include row;

                    &::before {
                        @include individualBulletPoint(#4661E6);
                    }

                    span {
                        &:nth-child(2){
                            @include push2ndElementToSide;
                        }
                    }
                }
            }
            // END LI------
        }
}