
// =================colors===================

$brightVioletColor:#ad1fea;
$darkBlueColor:#3a4374;
$hooverDarkBlue:#656EA3;

// =================dimensions===================

$mq-phone-max: 619px;
$mq-tablet-min: $mq-phone-max+1px;
$mq-computer-min:768px;

