.contentContainer{
    width: 310px;
    margin: 1.65em auto;
    p{
        &:first-child{
            margin-bottom: 65px;
        }
    }
    @media only screen and (min-width: 462px) {
        width:450px;
    }

.formContainer {
    background-color: white;    
    padding: 2em 1em;
    position: relative;

    form{
        .formButtonRow{
            display:flex;
            justify-content: end;
            margin-top: 2em;
            button:nth-child(2){
                margin-left: 1.3em;
            }
        }
    }
}

}