.suggestionContainer{


   .sidebarContainer{
      
         @media only screen and (min-width: 463px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2em;
            padding:0em 1.2em;
        }

        @media only screen and (min-width: 768px) {
         flex-direction: column;
         justify-content: initial;
         margin-left: auto;
     }
   }
   
   .mainContainer{

      @media only screen and (min-width: 768px) {
        margin-right: auto;
        width: 800px;
      }
   }

   @media only screen and (min-width: 768px) {
      display: flex;
  }


}