.LongWhiteBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6em;
    margin: 1.4em 0px;
    background-color: var(--box-background);
    border-radius: var(--box-radius);

    .LongWhiteBox__firstFlexItem{
        display: inherit;
        flex-direction: row;
        .LongWhiteBox__firstFlexItem__counter{
            position: relative;
            display: flex;
            padding: 0 1em 4em 1em;
         }
        .LongWhiteBoxStyles.LongWhiteBox__firstFlexItem__text{
            p {
                margin: 0.1em 0em !important;
            }
        }
    }

    .LongWhiteBox__secondFlexItem{
        display: inherit;
        align-items:center;
        .LongWhiteBox__secondFlexItem__container{
            display: inherit;
            flex-direction: row;

            div{
                margin-left: 0.5em;
            }
        }
    }   
}