
@mixin pill-basic-styles {
    background: #f2f4ff;
    border: none;
    color: #4661e6;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.pillHorizontal {
    @include pill-basic-styles;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
}

.pillVertical {
    @include pill-basic-styles;
    width:2em;
}