@import "../../../constants/_variables.scss";

.componentBasicStyles{
    position: relative;
    background-color: white;
    border-radius: var(--box-radius);
    padding: 1em 1em;
    margin-top: 1.5em;

        h3 {
           margin-top: 0em;
        }
    
        .commentArea {
        
            display: block !important;
            width:100%;
            min-height:90px;
            margin-bottom: 1.2em ;
            margin-top: 0.8em;
            border:none;
            background-color: #F2F4FF;
            resize: none;
            &:hover{
                border: 1.5px solid $darkBlueColor;
            }
        }

        
           
            
        



        .componentBasicStyles_bottomRow{
            display: flex;
            justify-content: space-between;

            .componentBasicStyles_bottomRow_firstItem{
                display: inherit;
                align-items: center;
            }
        }
}