@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

:root {
    --box-background:white;
    --box-radius:15px;
 
  }

  html{
      
  }

body {
    background-color: #F2F4FF;
    font-family:'Jost', sans-serif;
    margin:0px;
}

*{
    box-sizing: border-box;
}
